.mainContainer {
  position: absolute;
  width: 946px;
  left: calc(50% - 946px/2);
  top: 6rem;
}

.topInfos {
  margin: auto;
  margin-bottom: 1rem;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-top: 0.5rem;
    font-size: 20px;
    line-height: 24.41px;
    color: var(--darkgray);
  }
  
  button {
    background-color: var(--lightblue);
    width: 118px;
    height: 33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
  }
}

.listContainer {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;

  .atasList {
    margin: 1.5rem 0;

    .ataCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--lightgray);
      padding-left: .8rem;
      padding-right: .8rem;
      padding-bottom: 1rem;

      .ataInfos {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      .ataIcons {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          cursor: pointer;
        }
      }
    }

  }
}