.selectContainer {
  position: relative;

  .select {
    border-radius: 5px;
    border: 1px solid var(--lightgray);

  }

  label {
    background-color: transparent;
    position: absolute;
    top: 8px;
    left: 15px;
    bottom: 0;
    transition: .3s;
    pointer-events: none;
  }

  span {
    display: none;
    padding: 2px;
  }
}


.selectContainer:focus-within label {
  top: -12px;
  bottom: auto;
  background-color: var(--white);
  font-size: 14px;
}




.selectContainer .select:hover, .selectContainer .select:focus-within {
  border-color: #00D5F2;
  border-width: 1px;
}

// .select input:focus, .select:hover input {
//   color: var(--darkgray);
// }

.selectContainer .select:hover ~ label,
.selectContainer .select:focus-within ~ label  {
  color: #00D5F2;
}
