.mainContainer {
  position: absolute;
  width: 946px;
  left: calc(50% - 946px/2);
  top: 6rem;

  header {
    margin-bottom: 1rem;
    width: 95%;
    margin-left: 1.5rem;

    p {
      margin-top: 0.5rem;
      font-size: 20px;
      line-height: 24.41px;
      color: var(--darkgray);
    }
  }
}

.formContainer {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;

  h2 {
    color: var(--mediumgray);
  }

  .identidyContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    .dateBox {
      display: flex;
      gap: 2rem; 
    }

  }

  .meetingContent {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;

    .empityMeeting {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      padding-bottom: 5rem;

      span {
        color: var(--mediumgray);
        line-height: 20px;
        font-size: 16px;
        font-style: italic;
      }
    }

  }
  
  .buttonsContainer {
    display: flex;
    gap: 1rem;
    position: relative;
    justify-content: right;

    :first-child {
      background-color: var(--lightgray);
      color: var(--darkgray);
      border-radius: 5px;

    }
    button {
      background-color: var(--green);
      color: #E4E6F0;
      padding: 10px 21px 8px;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }

  
}